<div class="form-container">
  <h2>{{ editando ? 'Editar' : 'Nuevo' }} paciente</h2>

  <form [formGroup]="form" (ngSubmit)="guardar()">
    <label>Nombre
      <input formControlName="nombre" />
    </label>

    <label>Apellido
      <input formControlName="apellido" />
    </label>

    <label>Fecha de nacimiento
      <input type="date" formControlName="fecha_nacimiento" />
    </label>

    <label>Género
      <select formControlName="genero">
        <option value="">Seleccione</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
        <option value="Otro">Otro</option>
      </select>
    </label>

    <label>CUI / DPI
      <input formControlName="cui" />
    </label>

    <label>Teléfono
      <input formControlName="telefono" />
    </label>

    <label>Email
      <input type="email" formControlName="email" />
    </label>

    <label>Tipo de sangre
      <input formControlName="tipo_sangre" placeholder="O+, A-, etc." />
    </label>

    <button type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
</div>
